.waline-container {
  background-color: var(--card-background);
  border-radius: var(--card-border-radius);
  box-shadow: var(--shadow-l1);
  padding: 3%; /*缩小边距*/
}
.waline-container .vcount {
  color: var(--card-text-color-main);
}
:root {
/* 字体大小 */
  --waline-font-size: 16px;
/* 常规颜色 */
  --waline-white: #fff;
  --waline-light-grey: #999;
  --waline-dark-grey: #666;
/* 主题色 */
  --waline-theme-color: var(--primary-color) !important; /* 主题颜色 */
  --waline-active-color: #ff5c75 !important;
/* 布局颜色 */
  --waline-text-color: #444;
  --waline-bgcolor: #fff;
  --waline-bgcolor-light: #f8f8f8;
  --waline-bgcolor-hover: #f0f0f0;
  --waline-border-color: #ddd;
  --waline-disable-bgcolor: #f8f8f8;
  --waline-disable-color: #bbb;
  --waline-code-bgcolor: #282c34;
/* 特殊颜色 */
  --waline-bq-color: #f0f0f0;
/* 头像 */
  --waline-avatar-size: 3.5rem;
  --waline-mobile-avatar-size: calc(var(--waline-avatar-size) * 9 / 13);
/* 徽章 */
  --waline-badge-color: var(--primary-color) !important;
  --waline-badge-font-size: 0.775em;
/* 信息 */
  --waline-info-bgcolor: #f8f8f8;
  --waline-info-color: #999;
  --waline-info-font-size: 0.625em;
/* 渲染选择 */
  --waline-border: 1px solid var(--waline-border-color);
  --waline-avatar-radius: 50%;
  --waline-box-shadow: none;
}
:root[data-theme="dark"] {
  --waline-theme-color: var(--primary-color) !important; /* 主题颜色 */
  --waline-white: #ddd !important; /* 按键字体颜色 */
  --waline-active-color: #ff6680 !important;
  --waline-light-grey: #666 !important;
  --waline-dark-grey: rgba(140,74,85,0.6) !important; /*ID 颜色 */
  --waline-badge-color: rgba(140,74,85,0.6) !important;
/* 布局颜色 */
  --waline-text-color: #ccc !important;
  --waline-bgcolor: #424242 !important;
  --waline-bgcolor-light: #515151 !important; /* 行内代码块颜色 */
  --waline-border-color: #9b9c9c !important;
  --waline-disable-bgcolor: #444;
  --waline-disable-color: #272727;
/* 特殊颜色 */
  --waline-bq-color: #9b9c9c; /*quote*/
/* 其他颜色 */
  --waline-info-bgcolor: rgba(140,74,85,0.6);
  --waline-info-color: #aaa;
}
.v input,
.v textarea {
  font-size: 0.85em !important;
}
.v[data-class=v] .vcard .vcontent .vemoji {
  width: 2.5em !important /*表情包大小修改*/;
  margin: 0.25em !important;
}
